<div class="bio-block page-block">
	<h1 class="title"><span>BIO</span><div class="border"></div></h1>

	<div class="top-line"></div>	
	<div class="text-block">
		<div class="foto">
			<img src="<%= asset_path("bio-foto.png"); %>" alt="" />
		</div>
	
		<div class="t">First of all, Kolvalchuk is only the second Ukrainian in history to win a WSOP bracelet, joining the ranks of Eugene Katchalov. Second of all, he divides his time 50/50 between the online grind and the Kiev live poker scene, even though poker 
		tournaments come through his area only four times a year or so.</div>

		<div class="at-line"></div>

		<div class="fcol col">Kolvalchuk is only the second Ukrainian in history to win a WSOP bracelet, joining the ranks of Eugene Katchalov. Second of all, he divides his time 50/50 between the online grind and the Kiev live poker scene, even though poker tournaments come through his area only four times a year or so. First of all, Kolvalchuk is only the second Ukrainian in history to win a WSOP bracelet, joining the ranks of Eugene Katchalov. Second of all, he divides his time 50/50 between the online grind and the Kiev live poker scene, even though poker tournaments come through his area only four times a year or so.First of all, Kolvalchuk is only the second Ukrainian in history to win a WSOP bracelet, joining the ranks of Eugene Katchalov. Second of all, he divides his time 50/50 between the online grind and the Kiev live poker scene, even though poker tournaments come through his area only four times a year or so.First of all, Kolvalchuk is only the second Ukrainian in history to win a WSOP bracelet, joining the ranks of Eugene Katchalov. 
		</div>
		<div class="scol col">all, Kolvalchuk is only the second Ukrainian in history to win a WSOP bracelet, joining the ranks of Eugene Katchalov. Second of all, he divides his time 50/50 between the online grind and the Kiev live poker scene, even though poker tournaments come through his area only four times a year or so. e divides his time 50/50 between the online grind and the Kiev live poker scene, even though poker tournaments come through his area only four times a year or so.First of all, Kolvalchuk is only the second Ukrainian in history to win a WSOP bracelet, joining the ranks of Eugene Katchalov. Second of all, he divides his time 50/50 between the online grind and the Kiev live poker scene, even though poker tournaments come through his area only four times a year or so.
		</div>

		
	</div>
	<div class="bot-line"></div>

	<div class="page-bg"></div>
</div>