<div class="index-block page-block">

  <div class="text-block">
    <h1>Oleksii Kovalchuk<br/>is not your typical 21<br/>year-old poker<br/>pro though.</h1>

    <p></p>
  </div>

  <div class="tweet-block tweet"></div>
  <a class="follow-link" href="#">follow oleksii on twitter</a>

  <div class="social-links">
    <a class="fb" href="#faacebook"></a>
    <a class="tw" href="#twitter"></a>
  </div>

  <div class="page-bg flash-obj">
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab" width="1290" height="600" id="flash-obj" align="middle">
      <param name="movie" value="<%= asset_path("flash/page-bg.swf"); %>" />
      <param name="quality" value="high" />
      <param name="play" value="true" />
      <param name="loop" value="false" />
      <param name="wmode" value="transparent" />
      <param name="scale" value="showall" />
      <param name="allowFullScreen" value="true" />
      <param name="allowScriptAccess" value="always" />

      <embed name="video" id="flash-page-bg" src="<%= asset_path("flash/page-bg.swf"); %>" type="application/x-shockwave-flash"
          width="1290" height="600" wmode="transparent"
          allowScriptAccess="always" allowFullScreen="true" swliveconnect="true">
      </embed>
    </object>
  </div>

</div>