<% @events.each do |event| %>
  <li class="list-item <% if @events_on_day.include? event %> active <% end %>">
    <span class="date"><%= event.date.strftime('%d.%m.%y') %></span>
    <span class="title"><%= event.title %></span>
  </li>
<% end %>