/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  background-color: #000;
  color: #fff;
  font-family: Verdana, 'OfficinaSerifCRegularBold';
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
#page {
  width: 1290px;
  height: 100%;
  margin: 0 auto;
}
#content { height: 100%; }
#header { 
  height: 195px;
  width: 975px;
  background: url(menu-bg.png) no-repeat;
  padding-top: 15px;  
  margin: 0 auto;
}

#language-selector {
  display: none;

  margin-left: 49px;
  font: bold 15px 'OfficinaSerifCRegularBold';
  color: #f66029;
}
#menu { color: #fff; }

#menu {
  list-style: none;
  margin: 0 10px;
  padding: 0px;

  font-family: 'OfficinaSerifCRegularBold', Verdana;
}

#menu .menu-item { 
  float: left;

  width: 105px;
  height: 195px;

  text-align: center;
  vertical-align: middle;
}
#menu .menu-item.logo {
  width: 275px;
}
#menu .menu-item.last { width: 150px; }
#menu .menu-item a.no-border { border: none; }
#menu .menu-item a { 
  display: block;
  font-size: 17px;
  text-transform: uppercase;
  border-right: 1px solid #616161;
  color: #fff;
  text-decoration: none;
  margin-top: 75px;
}
#menu .menu-item a:hover { color: #f66029; }
#menu .menu-item.logo a { 
  width: 275px;
  height: 175px;
  border: none;
  background: url("logo.png") no-repeat;
  margin: 0px;
}

.page-block .page-bg {
  position: absolute;
  top: 120px;

  width: 1290px;
  height: 500px;

  z-index: -1000;
}

.page-block h1.title {  position: relative; color: #d7c494; margin: 30px 0 65px 0; height: 35px; }
.page-block h1.title span { text-transform: uppercase; position: absolute; top: 7px; left: 42px; background-color: #000; padding: 0 10px; z-index: 100; font-family: 'OfficinaSerifCRegularBook', Verdana; }
.page-block h1.title .border {
  position: absolute;
  bottom: 0px;
  width: 975px;
  height: 2px;
  background: url(title-line.png) bottom right no-repeat;
}

.back-btn {
  position: absolute;
  top: 305px;
  left: 700px;

  display: block;
  width: 110px;
  height: 35px;

  background: url(back-btn.png) 0 -35px no-repeat;
}
.back-btn:hover {
  background-position: 0 -0;
}


.pagination { position: absolute; width: 100%; }
.pagination .previous_page {
  display: block;
  position: absolute;
  left: -35px;

  width: 35px;
  height: 100px;

  background: url(nav-arrows.png) no-repeat;
}
.pagination a.previous_page:hover { background-position: 0 -100px; }

.pagination .next_page {
  display: block;
  position: absolute;
  left: 930px;
  
  width: 35px;
  height: 100px;
  
  background: url(nav-arrows.png) no-repeat -35px 0;
}
.pagination a.next_page:hover { background-position: -35px -100px; }
.pagination .disabled { display: none; }