.index-block .text-block {
	position: absolute;
	top: 200px;
	left: 165px;

	width: 270px;
	color: #fff;	
}
.index-block .text-block h1 {
	font-family: 'OfficinaSerifCRegularBook';
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #d7c494;
}
.index-block .text-block p {
	padding: 5px 0px;
	font: 13px/16px 'OfficinaSerifCRegularBook';
	font-weight: bold;

	border-bottom: 1px solid #342f26;
	border-top: 1px solid #342f26;
}

.index-block .social-links { 
	position: absolute;
	top: 595px;
	right: 150px;

	width: 100px;
	height: 40px;
}

.index-block .social-links a { display: inline-block; width: 35px; height: 35px; background: url("social.png") no-repeat; }
.index-block .social-links .fb {
	background-position: 0 0;
}
.index-block .social-links .tw {
	background-position: 0 -35px;
}

.index-block .copyright {
	display: block;
	position: absolute;

	top: 640px;
	right: 180px;

	color: #7e7e7e;
	font-size: 10px;
}

.index-block .tweet-block {
	position: absolute;
	top: 525px;
	left: 170px;

	width: 325px;
	height: 130px;
	
	overflow-y: hidden;
	background: url(tweets-bg.png) no-repeat;
}

.index-block .follow-link {
	display: block;
	position: absolute;
	top: 624px;
	left: 227px;

	font: 11px/13px 'OfficinaSerifCRegularBook';
	color: #fff;
	text-transform: uppercase;
}

.bio-block {
	width: 975px;
	margin: 0 auto;
}
.bio-block .page-bg { width: 975px; background: url(bio-bg.png) -40px 39px no-repeat; }

.bio-block div.top-line,
.bio-block div.bot-line {
	width: 975px;
	height: 2px;
	background: url(wide-line.png) no-repeat;
	margin: 45px 0px;
}

.bio-block .text-block {
	height: 550px;
}
.bio-block .text-block .foto {
	display: block;
	margin: 0 50px;
	width: 255px;
	height: 500px;
	float: left;
}
.bio-block .text-block .foto img {
	border: 1px solid #616161;
}

.bio-block .text-block .t {
	color: #d7c494;
	font-family: 'OfficinaSerifCRegularBookItalic', Verdana;
	font-style: italic;
}
.bio-block div.at-line {
	height: 1px;
	background: url(short-line.png) top right no-repeat;
	margin: 20px 0;
}
.bio-block .text-block .col {
	width: 300px;
	float: left;
	font: 12px/18px Verdana;
	color: #979797;
}
.bio-block .text-block .fcol { margin-right: 10px; }