.index-block .text-block {
	margin: -10px 0 0 145px;

	width: 270px;
	color: #fff;	
}
.index-block .text-block h1 {
	font-family: 'OfficinaSerifCRegularBook';
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
	color: #d7c494;
}
.index-block .text-block p {
	background: url(txt-block.png) no-repeat;
	width: 280px;
	height: 170px;
}

.index-block .social-links { 
	margin: -50px 0 0 1065px;
	width: 100px;
	height: 40px;
}

.index-block .social-links a { display: inline-block; width: 35px; height: 35px; background: url("social.png") no-repeat; }
.index-block .social-links .fb {
	background-position: 0 0;
}
.index-block .social-links .tw {
	background-position: 0 -35px;
}

.index-block .copyright {
	display: block;
	text-align: right;
	margin: 5px 0 0 940px;
	width: 200px;	
	color: #7e7e7e;
	font-size: 10px;
}

.index-block .tweet-block {
	margin: 40px 0 0 145px;
	width: 325px;
	height: 130px;
	
	overflow-y: hidden;
	background: url(tweets-bg.png) no-repeat;
}

.index-block .follow-link {
	display: block;
	margin: -31px 0 0 203px;
	font: 11px/13px 'OfficinaSerifCRegularBook';
	color: #fff;
	text-transform: uppercase;
}

.bio-block {
	width: 975px;
	margin: 0 auto;
}
.bio-block .page-bg { width: 975px; background: url(bio-bg.png) 60px 39px no-repeat; }

.bio-block div.top-line,
.bio-block div.bot-line {
	width: 975px;
	height: 2px;
	background: url(wide-line.png) no-repeat; 
}
.bio-block div.top-line { margin: 25px 0 45px 0px; }
.bio-block div.bot-line { margin: 35px 0 25px 0px; }

.bio-block .text-block {
	height: 550px;
}
.bio-block .text-block .foto {
	display: block;
	margin: 0 50px;
	width: 255px;
	height: 500px;
	float: left;
}
.bio-block .text-block .foto img {
	border: 1px solid #616161;
}

.bio-block .text-block .t {
	color: #d7c494;
	font-family: 'OfficinaSerifCRegularBookItalic', Verdana;
	font-style: italic;
}
.bio-block div.at-line {
	height: 1px;
	background: url(short-line.png) top right no-repeat;
	margin: 20px 0;
}
.bio-block .text-block .col {
	width: 300px;
	float: left;
	font: 12px/18px Verdana;
	color: #979797;
}
.bio-block .text-block .fcol { margin-right: 10px; }





.contacts-block {
	width: 975px;
	margin: 0 auto;
}
.contacts-block .page-bg { width: 975px; background: url(contacts-bg.png) 60px 39px no-repeat; }

.contacts-block div.top-line,
.contacts-block div.bot-line {
	width: 975px;
	height: 2px;
	background: url(wide-line.png) no-repeat; 
}
.contacts-block div.top-line { margin: 25px 0 35px 0px; }
.contacts-block div.bot-line { margin: 35px 0 25px 0px; }

.contacts-block .form-block {
	margin-left: 52px;
}
.contacts-block .form-block .field { margin-bottom: 10px; }
.contacts-block .form-block label {
	font-size: 12px;
	color: #d7c494;
}
.contacts-block .form-block .required { font-size: 12px; color: #ff5a00; }
.contacts-block .form-block input, 
.contacts-block .form-block textarea { margin-top: 5px; }
.contacts-block .form-block input { width: 305px; height: 35px; }
.contacts-block .form-block textarea { width: 305px; height: 90px; }
.contacts-block .form-block input.submit { background: url(send-btn.png) no-repeat; border: none; cursor: pointer; width: 317px;}

.contacts-block .social-links { 
	position: absolute;
	margin: 24px 0 0 370px;
	width: 100px;
	height: 40px;
}

.contacts-block .social-links a { display: inline-block; width: 35px; height: 35px; background: url("social.png") no-repeat; }
.contacts-block .social-links .fb {
	background-position: 0 0;
}
.contacts-block .social-links .tw {
	background-position: 0 -35px;
}
